# Change * to network prefix (ETH, ARB, etc.)
export *_RPC_URL=
export ETHERSCAN_API_KEY=

############################################################
##########################  ROLES ##########################
############################################################

# Common admin roles
export DEPLOYER=
export PROXY_ADMIN_OWNER=
export DEFAULT_ADMIN_ROLE=

# Other roles
export BRIDGE_ADAPTER_MANAGER_ROLE=
export CACHE_MANAGER_ROLE=
export CLAIMER_ROLE=

export USDC=
export TOKEN_MESSENGER_V2=
export SLIPPAGE_CAP_PCT=
export MAX_CACHE_SIZE=

############################################################
#######################  PROXY  #############################
############################################################

export CCTP_V2_BRIDGE_ADAPTER_PROXY=
export CCTP_V2_BRIDGE_ADAPTER_PROXY_ADMIN=

############################################################
####################  CONFIGURATION  ########################
############################################################

# Peer chain to link this deployment to
export PEER_CHAIN_ID=
export PEER_BRIDGE_ADAPTER=
export PEER_USDC=
export PEER_DOMAIN_ID=

# Comma-separated list of bridger addresses to whitelist
export BRIDGERS=