# Change * to network prefix (ETH, ARB, etc.)
export *_RPC_URL=
export ETHERSCAN_API_KEY=

############################################################
##########################  ROLES ##########################
############################################################

# Common admin roles
export DEPLOYER=
export PROXY_ADMIN_OWNER=
export DEFAULT_ADMIN_ROLE=

# Other roles
export BRIDGE_ADAPTER_MANAGER_ROLE=
export CACHE_MANAGER_ROLE=
export CLAIMER_ROLE=

export USDC=
export TOKEN_MESSENGER_V2=
export SLIPPAGE_CAP_PCT=
export MAX_CACHE_SIZE=